<tr><td><button class="btn-sm btn-primary-outline btn-info select-da-id" value="{{ task_id }}" type="button" >Select</button></td><td><a href="#" onclick="showdaResult('{{ result }}','{{ task_id }}');return false;" >{{task_name}}</a></td><td>{{time_zone timestamp}}</td><td>{{json_metatags tags}}</td></tr>
<tr class="tr-result {{ task_id }}"><td colspan="4"><pre class="pre-table" id="{{ task_id }}"></pre></td></tr>
