<tr><td><button class="btn btn-primary-outline btn-info select-da-id" value="{{ task_id }}" type="button" >Select</button></td><td><a href="#" onclick="showResult('{{ result }}');return false;" >{{task_name}}</a></td><td>{{time_zone timestamp}}</td><td>{{json_metatags tags}}</td></tr>
