<h3>SPRUCE Ecological Forecasting System</h3>
<hr>


<p class="" style="width:80%">EcoPAD is an interactive Model-Experiment (ModEx) system to assimilate various data streams into models so as to improve model predictions. The system feeds back to experimenters on which data sets are needed to further improve model predictions; feeds back to modelers on which parts of a model need to be improved. The system is done through data assimilation to combine models with data in a rigorous way to constrain model parameters and system states, improve ecological prediction, and quantify associated uncertainty. Specify, the system will</p>
<ul>
    <li>Predict what ecosystems may respond to treatments once you selected a site and decide your experimental plan.</li>
    <li>Assimilate data you are collecting along your experiment to constrain model prediction.</li>
    <li>Project what ecosystem responses may likely be in the rest of your experiment.</li>
    <li>Tell you what are those important datasets you may want to collect in order to understand the system.</li>
    <li>Periodically update the projections.</li>
    <li>Improve the models, the data assimilation system, and your experiments during the process.</li>
</ul>
<p style="width:80%">In this demo, we assimilate multiple streams of data from SPRUCE experiment to TECO model using MCMC algorithm, and then make forecasting of ecosystem dynamics. Effects of warming and elevated [CO2] on carbon fluxes and pool sizes are following,<a href"#" id="toggle">Animation On/Off</a></p>
<div id="front_viz" style="padding-left:20px"></div>
<hr>
<p  style="width:80%">Forcing variables such as light, temperature, and precipitation drive carbon fluxes in terrestrial ecosystem. To improve model predications, future external forcing should also be accurately prescribed. The following animation shows uncertainty of future forcing trajectories cause uncertainty in GPP prediction.</p>

<div style="max-width:1000px">
    <div style="width:100%">
        <div style="width:80%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ forcing_uncertainty_label }}</label>
            <img class="eco-img" src="{{ forcing_uncertainty_url }}" alt="{{ forcing_uncertainty_alt_text }}" style="width:100%">
        </div>
    </div>
</div>
<p  style="width:80%">The fully specified uncertainties of future states based on current observations and models inform experimenters to collect additional data to constrain models. From the SPRUCE experiment, we have soil C data at year 2011. If we assume additional 3 points data could be collected at later years, the uncertainty reduced significantly.</p>

<div style="max-width:1000px">
    <div style="width:100%">
        <div style="width:80%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ add_data_label }}</label>
            <img class="eco-img" src="{{ add_data_url }}" alt="{{ add_data_alt_text }}" style="width:100%">
        </div>
    </div>
</div>
