     <div>    
        <form id="parameters" class="form-stacked">
            <fieldset>
            <div class="col-sm-3.5" style="float:left">
                <div class="form-group hidden">
                    <label for="latitude">Latitude</label>
                    <input type="latitude" name="latitude" class="form-control input-sm"  id="latitude" value="{{ lat }}">
                </div>
		<div class="form-group hidden">
                    <label for="longitude"> Longitude </label>
                    <input type="longitude" name="longitude" class="form-control input-sm" id="longitude" value="{{ longitude }}">
                </div>
		<div class="form-group">
                    <label for="wsmax"> Maximum soil water (wsmax) </label>
                    <div class="checkbox-inline">
                    <input type="wsmax"  name="wsmax" class="form-control input-sm" id="wsmax" value="{{ wsmax }}">
                        <div class="checkbox-inline"><label><input type="checkbox" name="da_wsmax" value="0"> DA</label></div>
                        <div class="checkbox-inline"><label>Min <input type="wsmax" name="min_wsmax" class="form-control input-sm" value="{{ min_wsmax }}"></label></div>
                        <div class="checkbox-inline"><label>Max <input type="wsmax" name="max_wsmax" class="form-control input-sm" value="{{ max_wsmax }}"></label></div>
                    </div>
                </div>
		<div class="form-group">
                    <label for="wsmin"> Minimum soil water (wsmin) </label>
                    <input type="wsmin" name="wsmin" class="form-control input-sm" id="wsmin" value="{{ wsmin }}">
                </div>
		<div class="form-group">
                    <label for="LAIMAX"> Maximum Leaf Area Index (LAIMAX) </label>
                    <input type="LAIMAX" name="LAIMAX" class="form-control input-sm" id="LAIMAX" value="{{ LAIMAX }}">
                </div>
		<div class="form-group">
                    <label for="LAIMIN"> Minimum Leaf Area Index (LAIMIN) </label>
                    <input type="LAIMIN" name="LAIMIN" class="form-control input-sm" id="LAIMIN" value="{{ LAIMIN }}">
                </div>
		<div class="form-group">
                    <label for="rdepth"> Root Depth (rdepth) </label>
                    <input type="rdepth" name="rdepth" class="form-control input-sm" id="rdepth" value="{{ rdepth }}">
                </div>
		<div class="form-group">
                    <label for="Rootmax"> Maximum root biomass (Rootmax) </label>
                    <input type="Rootmax" name="Rootmax" class="form-control input-sm" id="Rootmax" value="{{ Rootmax }}">
                </div>
		<div class="form-group">
                    <label for="Stemmax"> Maximum Stem Biomass (Stemmax) </label>
                    <input type="Stemmax" name="Stemmax" class="form-control input-sm" id="Stemmax" value="{{ Stemmax }}">
                </div>
		<div class="form-group">
                    <label for="SapR"> Proportion of Sapwood in Root (SapR) </label>
                    <input type="SapR" name="SapR" class="form-control input-sm" id="SapR" value="{{ SapR }}">
                </div>
		<div class="form-group">
                    <label for="SapS"> Proportion of Sapwood in Stem (SapS) </label>
                    <input type="SapS" name="SapS" class="form-control input-sm" id="SapS" value="{{ SapS }}">
                </div>
		<div class="form-group">
                    <label for="SLA"> Specific Leaf Area (SLA) </label>
                    <input type="SLA" name="SLA" class="form-control input-sm" id="SLA" value="{{ SLA }}">
                </div>
                <div class="form-group">
                    <label for="GLmax"> Maximum Leaf Growth Rate (GLmax) </label>
                    <input type="GLmax" name="GLmax" class="form-control input-sm" id="GLmax" value="{{ GLmax }}">
                </div>
	    </div> 

            <div class="span1" style="float:left;COLOR:white;">.</div>
            <div class="col-sm-3.5" style="float:left">
                <div class="form-group">
                    <label for="GRmax"> Maximum Root Growth Rate (GRmax) </label>
                    <input type="GRmax" name="GRmax" class="form-control input-sm" id="GRmax" value="{{ GRmax }}">
                </div>
                <div class="form-group">
                    <label for="Gsmax"> Maximum Stem Growth Rate (Gsmax) </label>
                    <input type="Gsmax" name="Gsmax" class="form-control input-sm" id="Gsmax" value="{{ Gsmax }}">
                </div>
                <div class="form-group">
                    <label for="stom_n"> Stoma Number (stom_n) </label>
                    <input type="stom_n" name="stom_n" class="form-control input-sm" id="stom_n" value="{{ stom_n }}">
                </div>
                <div class="form-group">
                    <label for="a1"> a1 coefficient </label>
                    <input type="a1" name="a1" class="form-control input-sm" id="a1" value="{{ a1 }}">
                </div>
                <div class="form-group">
                    <label for="Ds0"> Ds0 coefficient </label>
                    <input type="Ds0" name="Ds0" class="form-control input-sm" id="Ds0" value="{{ Ds0 }}">
                </div>                

		<div class="form-group">
                    <label for="Vcmx0"> Maximum rate of Carboxylation (vcmx0) </label>
                    <input type="Vcmx0" name="Vcmx0" class="form-control input-sm" id="Vcmx0" value="{{ Vcmx0 }}">
                </div>  
		<div class="form-group">
                    <label for="extkU"> extkU </label>
                    <input type="extkU" name="extkU" class="form-control input-sm" id="extkU" value="{{ extkU }}">
                </div>  
		<div class="form-group">
                    <label for="xfang"> Coefficient in Photosythesis Subroutine </label>
                    <input type="xfang" name="xfang" class="form-control input-sm" id="xfang" value="{{ xfang }}">
                </div>  
		<div class="form-group">
                    <label for="alpha"> Light use efficiency(alpha) </label>
                    <input type="alpha" name="alpha" class="form-control input-sm" id="alpha" value="{{ alpha }}">
                </div>  
		<div class="form-group">
                    <label for="Tau_Leaf"> Turnover rate of foliage pool (Tau_Leaf)</label>
                    <input type="Tau_Leaf" name="Tau_Leaf" class="form-control input-sm" id="Tau_Leaf" value="{{ Tau_Leaf }}">
               </div>  
		<div class="form-group">
                    <label for="Tau_Wood"> Turnover rate of woody pool (Tau_Wood) </label>
                    <input type="Tau_Wood" name="Tau_Wood" class="form-control input-sm" id="Tau_Wood" value="{{ Tau_Wood }}">
               </div>  
            </div>
            <div class="span1" style="float:left;COLOR:white;">.</div>
            <div class="col-sm-3.5" style="float:left">
               <div class="form-group">
                    <label for="Tau_Root"> Turnover rate of root pool (Tau_Root) </label>
                    <input type="Tau_Root" name="Tau_Root" class="form-control input-sm" id="Tau_Root" value="{{ Tau_Root }}">
               </div>
                <div class="form-group">
                    <label for="Tau_F"> Turnover rate of fine-root pool (Tau_F) </label>
                    <input type="Tau_F" name="Tau_F" class="form-control input-sm" id="Tau_F" value="{{ Tau_F }}">
               </div>
                <div class="form-group">
                    <label for="Tau_C"> Turnover rate of course-root pool (Tau_C) </label>
                    <input type="Tau_C" name="Tau_C" class="form-control input-sm" id="Tau_C" value="{{ Tau_C }}">
               </div>
                <div class="form-group">
                    <label for="Tau_Micro"> Turnover rate of microbial pool (Tau_Micro) </label>
                    <input type="Tau_Micro" name="Tau_Micro" class="form-control input-sm" id="Tau_Micro" value="{{ Tau_Micro }}">
               </div>
                <div class="form-group">
                    <label for="Tau_SlowSOM"> Turnover rate of slow SOM (Tau_SlowSOM) </label>
                    <input type="Tau_SlowSOM" name="Tau_SlowSOM" class="form-control input-sm" id="Tau_SlowSOM" value="{{ Tau_SlowSOM }}">
               </div>
                <div class="form-group">
                    <label for="Tau_Passive"> Turnover rate Passive Soil(Tau_Passive) </label>
                    <input type="Tau_Passive" name="Tau_Passive" class="form-control input-sm" id="Tau_Passive" value="{{ Tau_Passive }}">
               </div>
                <div class="form-group">
                    <label for="gddonset"> Growing degree days (gddonset) </label>
                    <input type="gddonset" name="gddonset" class="form-control input-sm" id="gddonset" value="{{ gddonset }}">
               </div>
                <div class="form-group">
                    <label for="Q10"> Q10 </label>
                    <input type="Q10" name="Q10" class="form-control input-sm" id="Q10" value="{{ Q10 }}">
               </div>
                <div class="form-group">
                    <label for="Rl0"> Rl0 </label>
                    <input type="Rl0" name="Rl0" class="form-control input-sm" id="Rl0" value="{{ Rl0 }}">
               </div>
                <div class="form-group">
                    <label for="Rs0"> Rs0 </label>
                    <input type="Rs0" name="Rs0" class="form-control input-sm" id="Rs0" value="{{ Rs0 }}">
               </div>
                <div class="form-group">
                    <label for="Rr0"> Rr0 </label>
                    <input type="Rr0" name="Rr0" class="form-control input-sm" id="Rr0" value="{{ Rr0 }}">
               </div>
            </div>
            </fieldset>
        </form>
    
     </div>

