        <form id="parameters" class="form-stacked">
            <fieldset>
            <div class="col-sm-3.5" style="float:left">
                <div class="form-group hidden">
                    <label for="latitude">Latitude</label>
                    <input type="latitude" name="latitude" class="form-control input-sm"  id="latitude" value="{{ lat }}">
                </div>
		<div class="form-group hidden">
                    <label for="longitude"> Longitude </label>
                    <input type="longitude" name="longitude" class="form-control input-sm" id="longitude" value="{{ longitude }}">
                </div>
		<div class="form-group">
                    <label for="wsmax"> Maximum soil water (wsmax) </label>
                    <input type="wsmax"  name="wsmax" class="form-control input-sm" id="wsmax" value="{{ wsmax }}">
                    <div class="form-inline da_param" >
                        <label><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_wsmax" value="{{da_wsmax}}"></label>
                        <label class="da_param_lb"> DA  Min<input class="form-control input-sm da_param_wd" type="text" name="min_wsmax" value="{{ min_wsmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_wsmax" value="{{ max_wsmax}}" ></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="wsmin"> Minimum soil water (wsmin) </label>
                    <input type="wsmin" name="wsmin" class="form-control input-sm" id="wsmin" value="{{ wsmin }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_wsmin " value="{{da_wsmin}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_wsmin" value="{{min_wsmin}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_wsmin" value="{{max_wsmin}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="LAIMAX"> Maximum Leaf Area Index (LAIMAX) </label>
                    <input type="LAIMAX" name="LAIMAX" class="form-control input-sm" id="LAIMAX" value="{{ LAIMAX }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_LAIMAX" value="{{da_LAIMAX}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_LAIMAX" value="{{min_LAIMAX}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_LAIMAX" value="{{max_LAIMAX}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="LAIMIN"> Minimum Leaf Area Index (LAIMIN) </label>
                    <input type="LAIMIN" name="LAIMIN" class="form-control input-sm" id="LAIMIN" value="{{ LAIMIN }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_LAIMIN" value="{{da_LAIMIN}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_LAIMIN" value="{{min_LAIMIN }}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_LAIMIN" value="{{max_LAIMIN }}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="rdepth"> Root Depth (rdepth) </label>
                    <input type="rdepth" name="rdepth" class="form-control input-sm" id="rdepth" value="{{ rdepth }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_rdepth" value="{{da_rdepth}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_rdepth" value="{{min_rdepth}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_rdepth" value="{{max_rdepth}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="Rootmax"> Maximum root biomass (Rootmax) </label>
                    <input type="Rootmax" name="Rootmax" class="form-control input-sm" id="Rootmax" value="{{ Rootmax }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Rootmax" value="{{da_Rootmax}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Rootmax" value="{{min_Rootmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Rootmax" value="{{max_Rootmax}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="Stemmax"> Maximum Stem Biomass (Stemmax) </label>
                    <input type="Stemmax" name="Stemmax" class="form-control input-sm" id="Stemmax" value="{{ Stemmax }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Stemmax" value="{{da_Stemmax}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Stemmax" value="{{min_Stemmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Stemmax" value="{{max_Stemmax}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="SapR"> Proportion of Sapwood in Root (SapR) </label>
                    <input type="SapR" name="SapR" class="form-control input-sm" id="SapR" value="{{ SapR }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_SapR" value="{{da_SapR}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_SapR" value="{{min_SapR}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_SapR" value="{{max_SapR}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="SapS"> Proportion of Sapwood in Stem (SapS) </label>
                    <input type="SapS" name="SapS" class="form-control input-sm" id="SapS" value="{{ SapS }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_SapS" value="{{da_SapS}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_SapS" value="{{min_SapS}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_SapS" value="{{max_SapS}}"></label>
                    </div>
                </div>
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="SLA"> Specific Leaf Area (SLA) </label>
                    <input type="SLA" name="SLA" class="form-control input-sm" id="SLA" value="{{ SLA }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_SLA" value="{{da_SLA}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_SLA" value="{{min_SLA}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_SLA" value="{{max_SLA}}"></label>
                    </div>
                </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="GLmax"> Maximum Leaf Growth Rate (GLmax) </label>
                    <input type="GLmax" name="GLmax" class="form-control input-sm" id="GLmax" value="{{ GLmax }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_GLmax" value="{{da_GLmax}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_GLmax" value="{{min_GLmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_GLmax" value="{{max_GLmax}}"></label>
                    </div>
                </div>
	    </div> 

            <div class="span1" style="float:left;COLOR:white;">.</div>
            <div class="col-sm-3.5" style="float:left">
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="GRmax"> Maximum Root Growth Rate (GRmax) </label>
                    <input type="GRmax" name="GRmax" class="form-control input-sm" id="GRmax" value="{{ GRmax }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_GRmax" value="{{da_GRmax}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_GRmax" value="{{min_GRmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_GRmax" value="{{max_GRmax}}"></label>
                    </div>
                </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Gsmax"> Maximum Stem Growth Rate (Gsmax) </label>
                    <input type="Gsmax" name="Gsmax" class="form-control input-sm" id="Gsmax" value="{{ Gsmax }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Gsmax" value="{{da_Gsmax}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Gsmax" value="{{min_Gsmax}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Gsmax" value="{{max_Gsmax}}"></label>
                    </div>
                </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="stom_n"> Stoma Number (stom_n) </label>
                    <input type="stom_n" name="stom_n" class="form-control input-sm" id="stom_n" value="{{ stom_n }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_stom_n" value="{{da_stom_n}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_stom_n" value="{{min_stom_n}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_stom_n" value="{{max_stom_n}}"></label>
                    </div>
                </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="a1"> a1 coefficient </label>
                    <input type="a1" name="a1" class="form-control input-sm" id="a1" value="{{ a1 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_a1" value="{{da_a1}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_a1" value="{{min_a1}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_a1" value="{{max_a1}}"></label>
                    </div>
                </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Ds0"> Ds0 coefficient </label>
                    <input type="Ds0" name="Ds0" class="form-control input-sm" id="Ds0" value="{{ Ds0 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Ds0" value="{{da_Ds0}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Ds0" value="{{min_Ds0}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Ds0" value="{{max_Ds0}}"></label>
                    </div>
                </div>                

		<div class="form-group form-stacked" style="clear:both;">
                    <label for="Vcmx0"> Maximum rate of Carboxylation (vcmx0) </label>
                    <input type="Vcmx0" name="Vcmx0" class="form-control input-sm" id="Vcmx0" value="{{ Vcmx0 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Vcmx0" value="{{da_Vcmx0}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Vcmx0" value="{{min_Vcmx0}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Vcmx0" value="{{max_Vcmx0}}"></label>
                    </div>
                </div>  
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="extkU"> extkU </label>
                    <input type="extkU" name="extkU" class="form-control input-sm" id="extkU" value="{{ extkU }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_extkU" value="{{da_extkU}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_extkU" value="{{min_extkU}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_extkU" value="{{max_extkU}}"></label>
                    </div>
                </div>  
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="xfang"> Coefficient in Photosythesis Subroutine </label>
                    <input type="xfang" name="xfang" class="form-control input-sm" id="xfang" value="{{ xfang }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_xfang" value="{{da_xfang}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_xfang" value="{{min_xfang}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_xfang" value="{{max_xfang}}"></label>
                    </div>
                </div>  
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="alpha"> Light use efficiency(alpha) </label>
                    <input type="alpha" name="alpha" class="form-control input-sm" id="alpha" value="{{ alpha }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_alpha" value="{{da_alpha}}"></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_alpha" value="{{min_alpha}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_alpha" value="{{max_alpha}}"></label>
                    </div>
                </div>  
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_Leaf"> Turnover rate of foliage pool (Tau_Leaf)</label>
                    <input type="Tau_Leaf" name="Tau_Leaf" class="form-control input-sm" id="Tau_Leaf" value="{{ Tau_Leaf }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_Leaf" value="{{da_Tau_Leaf}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_Leaf" value="{{min_Tau_Leaf}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_Leaf" value="{{max_Tau_Leaf}}"></label>
                    </div>
               </div>  
		<div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_Wood"> Turnover rate of woody pool (Tau_Wood) </label>
                    <input type="Tau_Wood" name="Tau_Wood" class="form-control input-sm" id="Tau_Wood" value="{{ Tau_Wood }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_Wood" value="{{da_Tau_Wood}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_Wood" value="{{min_Tau_Wood}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_Wood" value="{{max_Tau_Wood}}"></label>
                    </div>
               </div>  
            </div>
            <div class="span1" style="float:left;COLOR:white;">.</div>
            <div class="col-sm-3.5" style="float:left">
               <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_Root"> Turnover rate of root pool (Tau_Root) </label>
                    <input type="Tau_Root" name="Tau_Root" class="form-control input-sm" id="Tau_Root" value="{{ Tau_Root }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_Root" value="{{da_Tau_Root}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_Root" value="{{min_Tau_Root}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_Root" value="{{max_Tau_Root}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_F"> Turnover rate of fine-root pool (Tau_F) </label>
                    <input type="Tau_F" name="Tau_F" class="form-control input-sm" id="Tau_F" value="{{ Tau_F }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_F" value="{{da_Tau_F}}"checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_F" value="{{min_Tau_F}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_F" value="{{max_Tau_F}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_C"> Turnover rate of course-root pool (Tau_C) </label>
                    <input type="Tau_C" name="Tau_C" class="form-control input-sm" id="Tau_C" value="{{ Tau_C }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_C" value="{{da_Tau_C}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_C" value="{{min_Tau_C}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_C" value="{{max_Tau_C}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_Micro"> Turnover rate of microbial pool (Tau_Micro) </label>
                    <input type="Tau_Micro" name="Tau_Micro" class="form-control input-sm" id="Tau_Micro" value="{{ Tau_Micro }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_Micro" value="{{da_Tau_Micro}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_Micro" value="{{min_Tau_Micro}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_Micro" value="{{max_Tau_Micro}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_SlowSOM"> Turnover rate of slow SOM (Tau_SlowSOM) </label>
                    <input type="Tau_SlowSOM" name="Tau_SlowSOM" class="form-control input-sm" id="Tau_SlowSOM" value="{{ Tau_SlowSOM }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_SlowSOM" value="{{da_Tau_SlowSOM}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_SlowSOM" value="{{min_Tau_SlowSOM}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_SlowSOM" value="{{max_Tau_SlowSOM}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Tau_Passive"> Turnover rate Passive Soil(Tau_Passive) </label>
                    <input type="Tau_Passive" name="Tau_Passive" class="form-control input-sm" id="Tau_Passive" value="{{ Tau_Passive }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Tau_Passive" value="{{da_Tau_Passive}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Tau_Passive" value="{{min_Tau_Passive}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Tau_Passive" value="{{max_Tau_Passive}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="gddonset"> Growing degree days (gddonset) </label>
                    <input type="gddonset" name="gddonset" class="form-control input-sm" id="gddonset" value="{{ gddonset }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_gddonset" value="{{da_gddonset}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_gddonset" value="{{min_gddonset}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_gddonset" value="{{max_gddonset}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Q10"> Q10 </label>
                    <input type="Q10" name="Q10" class="form-control input-sm" id="Q10" value="{{ Q10 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Q10" value="{{da_Q10}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Q10" value="{{min_Q10}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Q10" value="{{max_Q10}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Rl0"> Rl0 </label>
                    <input type="Rl0" name="Rl0" class="form-control input-sm" id="Rl0" value="{{ Rl0 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Rl0" value="{{da_Rl0}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Rl0" value="{{min_Rl0}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Rl0" value="{{max_Rl0}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Rs0"> Rs0 </label>
                    <input type="Rs0" name="Rs0" class="form-control input-sm" id="Rs0" value="{{ Rs0 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Rs0" value="{{da_Rs0}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Rs0" value="{{min_Rs0}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Rs0" value="{{max_Rs0}}"></label>
                    </div>
               </div>
                <div class="form-group form-stacked" style="clear:both;">
                    <label for="Rr0"> Rr0 </label>
                    <input type="Rr0" name="Rr0" class="form-control input-sm" id="Rr0" value="{{ Rr0 }}">
                    <div class="form-inline da_param" >
                        <label ><input class="form-control input-sm da_param_wd da_chkbx" type="checkbox" name="da_Rr0" value="{{da_Rr0}}" checked></label>
                        <label class="da_param_lb" >DA Min<input class="form-control input-sm da_param_wd" type="text" name="min_Rr0" value="{{min_Rr0}}"></label>
                        <label class="da_param_lb">Max<input class="form-control input-sm da_param_wd" type="text" name="max_Rr0" value="{{max_Rr0}}"></label>
                    </div>
               </div>
            </div>
            </fieldset>
        </form>
