<div>
    <div style="width:100%">
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ zero_label }}</label>
            <img src="{{ zero_url }}" alt="{{ zero_alt_text }}" style="width:100%">
        </div>
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ one_label }}</label>
            <img src="{{ one_url }}" alt="{{ one_alt_text }}" style="width:100%">
        </div>
    </div>
    <div style="width:100%">
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ two_label }}</label>
            <img src="{{ two_url }}" alt="{{ two_alt_text }}" style="width:100%">
        </div>
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ three_label }}</label>
            <img src="{{ three_url }}" alt="{{ three_alt_text }}" style="width:100%">
        </div>
    </div>
    <div style="width:100%">
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ four_label }}</label>
            <img src="{{ four_url }}" alt="{{ four_alt_text }}" style="width:100%">
        </div>
        <div style="width:40%;display:inline-block;">
            <label style="width:100%;text-align:center;">{{ five_label }}</label>
            <img src="{{ five_url }}" alt="{{ five_alt_text }}" style="width:100%">
        </div>
    </div>
</div>

